src/wsdl/localhost_8080/MoviesSoap/MoviesWebServiceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://moviessoap.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://moviessoap.mycompany.com/" name="MoviesWebServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://moviessoap.mycompany.com/" schemaLocation="http://localhost:8080/MoviesSoap/MoviesWebServiceService?xsd=1"/>
</xsd:schema>
</types>
<message name="addMovie">
<part name="parameters" element="tns:addMovie"/>
</message>
<message name="addMovieResponse">
<part name="parameters" element="tns:addMovieResponse"/>
</message>
<message name="getMovie">
<part name="parameters" element="tns:getMovie"/>
</message>
<message name="getMovieResponse">
<part name="parameters" element="tns:getMovieResponse"/>
</message>
<message name="getAllMovies">
<part name="parameters" element="tns:getAllMovies"/>
</message>
<message name="getAllMoviesResponse">
<part name="parameters" element="tns:getAllMoviesResponse"/>
</message>
<message name="deleteMovie">
<part name="parameters" element="tns:deleteMovie"/>
</message>
<message name="deleteMovieResponse">
<part name="parameters" element="tns:deleteMovieResponse"/>
</message>
<message name="updateMovie">
<part name="parameters" element="tns:updateMovie"/>
</message>
<message name="updateMovieResponse">
<part name="parameters" element="tns:updateMovieResponse"/>
</message>
<portType name="MoviesWebService">
<operation name="addMovie">
<input wsam:Action="http://moviessoap.mycompany.com/MoviesWebService/addMovieRequest" message="tns:addMovie"/>
<output wsam:Action="http://moviessoap.mycompany.com/MoviesWebService/addMovieResponse" message="tns:addMovieResponse"/>
</operation>
<operation name="getMovie">
<input wsam:Action="http://moviessoap.mycompany.com/MoviesWebService/getMovieRequest" message="tns:getMovie"/>
<output wsam:Action="http://moviessoap.mycompany.com/MoviesWebService/getMovieResponse" message="tns:getMovieResponse"/>
</operation>
<operation name="getAllMovies">
<input wsam:Action="http://moviessoap.mycompany.com/MoviesWebService/getAllMoviesRequest" message="tns:getAllMovies"/>
<output wsam:Action="http://moviessoap.mycompany.com/MoviesWebService/getAllMoviesResponse" message="tns:getAllMoviesResponse"/>
</operation>
<operation name="deleteMovie">
<input wsam:Action="http://moviessoap.mycompany.com/MoviesWebService/deleteMovieRequest" message="tns:deleteMovie"/>
<output wsam:Action="http://moviessoap.mycompany.com/MoviesWebService/deleteMovieResponse" message="tns:deleteMovieResponse"/>
</operation>
<operation name="updateMovie">
<input wsam:Action="http://moviessoap.mycompany.com/MoviesWebService/updateMovieRequest" message="tns:updateMovie"/>
<output wsam:Action="http://moviessoap.mycompany.com/MoviesWebService/updateMovieResponse" message="tns:updateMovieResponse"/>
</operation>
</portType>
<binding name="MoviesWebServicePortBinding" type="tns:MoviesWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllMovies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MoviesWebServiceService">
<port name="MoviesWebServicePort" binding="tns:MoviesWebServicePortBinding">
<soap:address location="http://localhost:8080/MoviesSoap/MoviesWebServiceService"/>
</port>
</service>
</definitions>